{% extends 'base.html' %}

{% block content %}
<br>
<br>
<style>
    .top-footer {
        background-color:black;
        border-top: 1px solid white;
        padding: 100px 0 80px;
      }
      
      .top-footer h3 {
        font-size: 16px;
        line-height: 1.5;
        color: #fff;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 20px;
      }
      
      .top-footer p {
        font-size: 13px;
        line-height: 30px;
        color: white;
        font-weight: 300;
        letter-spacing: 1px;
        padding-right: 20px;
      }
      
      .top-footer li a {
        font-size: 13px;
        line-height: 30px;
        color: white;
        font-weight: 300;
        letter-spacing: 1px;
        text-transform: capitalize;
        transition: color .3s;
        font-family: "Source Sans Pro", sans-serif;
        display: block;
       
        text-decoration: none;
      }
      
      .top-footer li a:hover {
        color: white;
      }
      
      .footer-bottom {
        text-align: center;
        background-color: black;
        border-top: 1px solid white;
        padding: 30px 0;
      }
      
      .footer-bottom h5 {
        font-size: 12px;
        line-height: 1;
        color: white;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 7px;
        margin-bottom: 3px;
      }
      
      .footer-bottom h6 {
        font-size: 11px;
        line-height: 15px;
        color: white;
        font-weight: 400;
        text-transform: capitalize;
        letter-spacing: 2px;
        margin-bottom: 0;
      }
      
      .footer-bottom a {
        color: white;
      }
      
</style>

<section class="single-page-header"style="background: rgba(0 0 0 );
position: absolute;
content: '';
top: 0;
right: 0;
left: 0;
bottom: 0;padding: 140px 0 70px;
text-align: center;
color: #fff;
position: relative;
">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Frequently Asked Questions</h2>
				<ol class="breadcrumb header-bradcrumb">
				
				</ol>
			</div>
		</div>
	</div>
</section>
<br>
<br>

<section class="questions">
    <div class="container">
      <h1 class="text-center"></h1><br><br>
      <div class="content">
        <ul>
          <li>
        <h3>Why signing is required?</h3>
        <p style="font-size:20px">Signing is required to save your purchase records while you can also track the order once they are placed and so the progress at each step.</p>
          </li><br>
          <li>
            <h3>Having troubles while sign in?</h3>
            <p style="font-size:20px">Write us at graminbazzar@shop.com</p>
          </li><br>
          <li>
            <h3>Forgot my Password what should I do?</h3>
            <p style="font-size:20px">Please mail us on graminbazzar@shop.com</p>
          </li>
          <li>
            <h3>How will I receive order confirmation?</h3>
            <p style="font-size:20px">Once the order is completed you will receive the order number through mail.</p>
            
          </li><br>
          <li>
            <h3>What is the ideal delivery time?</h3>
            <p style="font-size:20px">Packages are delivered within 3-5 working days from the date of shipping.</p>
          </li><br>
          <li>
            <h3>My Order is undelivered?</h3>
            <p style="font-size:20px">Please write to our customer care at graminbazzar@shop.com</p>
          </li><br>
          <li>
            <h3>How to cancel my order?</h3>
            <p style="font-size:20px">You can reach our customer care team and place a request at graminbazzar@shop.com</p>
          </li><br>
          <li>
            <h3>My Order is undelivered?</h3>
            <p style="font-size:20px">Please write to our customer care at graminbazzar@shop.com</p>
          </li>
          </ul>
      </div>
    </div>
  </section>
  <br>
  <footer id="footer" class="bg-one">
	<div class="top-footer">
	  <div class="container">
		<div class="row">
		  <div class="col-sm-1 col-md-1 col-lg-1">
	
		  </div>
		  <!-- End of .col-sm-3 -->
  
		  <div class="col-sm-4 col-md-4 col-lg-4">
			<h3>About</h3>
			<p>We at Gramin Bazaar have the best quality<br> products ready for your pick. </p>
		  </div>
		  <!-- End of .col-sm-3 -->
  
		  <div class="col-sm-3 col-md-3 col-lg-3">
			<ul style=" list-style: none;">
			  <li><h3>Quick Links</h3></li>
			  <li><a href="#">Home</a></li>
			  <li><a href="#">Services</a></li>
			  <li><a href="#">Categories</a></li>
			  <li><a href="#">FAQs</a></li>
			</ul>
		  </div>
		  <!-- End of .col-sm-3 -->
  
		  <div class="col -6 col-sm-3 col-md-3 col-lg-3">
			<ul style=" list-style: none;">
			  <li><h3>Connect with us Socially</h3></li>
			  <li><a href="https://www.facebook.com/bmsit/">Facebook</a></li>
			 
			  <li><a href="https://www.youtube.com/channel/UCZLUwjJYZZvXvfPketkZZMQ">Youtube</a></li>
			  
			</ul>
		  </div>
		  <!-- End of .col-sm-3 -->
  
		</div>
	  </div> <!-- end container -->
	</div>
	<div class="footer-bottom">
	  <h5>Copyright 2020. All rights reserved.</h5>
	  <h6>Design and Developed by <a href="">BMSIT</a></h6>
	</div>
  </footer> <!-- end footer -->


  {% endblock %}
  