{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="p-4 m-4">
        <div class="col-lg-4 mx-auto pt-4">
            <h3 class="alert alert-light">Create an Account</h3>
            <form action="/signup"method="POST">
                {% csrf_token %}
                {%if error %}
                <div class="alert alert-danger"role="alert">
                    {{error}}
                </div>
                {% endif %}
                <!-- first name-->
                <div class="form-group">
                    <label for="">First Name</label>
                    <input type="text" name="first_name"id=""value="{{values.first_name}}"class="form-control form-control-sm"placeholder="Enter your last name">
                </div>
<br>
                <div class="form-group">
                    <label for="">Last Name</label>
                    <input type="text" name="last_name"id=""value="{{values.last_name}}"class="form-control form-control-sm"placeholder="Enter your last name">
                </div>
<br>
                <div class="form-group">
                    <label for="">Phone</label>
                    <input type="text" name="phone"id=""value="{{values.phone}}"class="form-control form-control-sm"placeholder="Enter your Phone Number">
                </div>
<br>
                <!-- email -->
                <div class="form-group">
                    <label for="">Email</label>
                    <input required type="email" name="email"id=""class="form-control form-control-sm"placeholder="Enter your mail">
                </div>
<br>
                <!-- password -->
                <div class="form-group">
                    <label for="">Password</label>
                    <input  type="password" name="password"id=""class="form-control form-control-sm"placeholder="Enter your Password">
                </div>

                <br>
                <div class="form-group ">
                    <input class="btn btn-sm " type="submit"style="background-color:black;color:white" value="Create Account">
                </div>

                
            </form>
        </div>

    </div>
</div>

{% endblock %}